.jumbotron{
	background-color:#CCFF99;
	color:	white;
	text-align: center;
	margin-top: 50px;

}
h1 {
  font-size: 50px;
}

.detalle_hotel{
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  
}


footer{
	background-color:#FFC300;
	color:white;
	padding:10px 10px 10px 10px;
	margin-top: 10px;
}

.btn_reservar
{
	width: 200px;
	font-weight: bold;
	padding:10px 10px 10px 10px;
}

.footer-addres-icon{
	
	padding-right: 5px;
	
}